:root{
    --color-accent: #EF7F04;
    --color-accent-hover: #f39e43;
    --color-violet: #3B3A63;
    --color-violet-hover: #5c5b79;
    --color-violet-alternate: #2F2F51;




    --container-width: 1200px;
    --maket-size: 1920px;
    
    --transition-time: 0.3s
}