@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-accent: #EF7F04;
  --color-accent-hover: #f39e43;
  --color-violet: #3B3A63;
  --color-violet-hover: #5c5b79;
  --container-width: 1200px;
  --maket-size: 1920px;
  --transition-time: 0.3s ;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.container {
  max-width: calc(var(--container-width) + 30px);
  margin: 0 auto;
  padding-inline: 15px;
}

a {
  color: inherit;
}

.logo {
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  font-weight: 700;
}

.text-accent {
  color: var(--color-accent);
}

label {
  cursor: default;
}

.burger-button {
  order: 4;
  display: block;
  width: 50px;
  aspect-ratio: 1;
  background-color: inherit;
  position: relative;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  translate: 50%;
  border-radius: 5%;
  background-color: black;
  box-shadow: 0px -8px, 0px 8px;
}

@media (max-width: 1200px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__inner {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .header__inner {
    flex-wrap: nowrap;
  }
}
@media (max-width: 1200px) {
  .header__nav {
    order: 3;
    flex-basis: 100%;
  }
}
.header__nav-list {
  display: flex;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
@media (max-width: 1200px) {
  .header__nav-list {
    justify-content: space-around;
  }
}
.header__nav-link {
  display: flex;
  align-items: center;
  height: 97px;
  transition-duration: var(--transition-time);
  position: relative;
  white-space: nowrap;
}
.header__nav-link::before {
  content: "";
  display: block;
  background-color: inherit;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition-duration: var(--transition-time);
}
@media (max-width: 1200px) {
  .header__nav-link::before {
    top: 70%;
  }
}
@media (hover: hover) {
  .header__nav-link:hover {
    color: var(--color-accent);
  }
  .header__nav-link:hover::before {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__nav-link:active {
    color: var(--color-accent);
  }
  .header__nav-link:active::before {
    background-color: var(--color-accent);
  }
}
.header__button-wrapper {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 1200px) {
  .header__button-wrapper {
    order: 2;
  }
}
@media (max-width: 768px) {
  .header__button-wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
}

.button {
  border-radius: 3px;
  color: white;
  background-repeat: no-repeat;
  background-position: 14px 12px;
  transition-duration: var(--transition-time);
  cursor: pointer;
  white-space: nowrap;
}
.button__order-measuring {
  background-color: var(--color-accent);
  background-image: url("../media/icons/order-measuring-icon.svg");
}
@media (hover: hover) {
  .button__order-measuring:hover {
    background-color: var(--color-accent-hover);
  }
}
@media (hover: none) {
  .button__order-measuring:active {
    background-color: var(--color-accent-hover);
  }
}
.button__order-calculation {
  background-color: var(--color-violet);
  background-image: url("../media/icons/order-calculation-icon.svg");
}
@media (hover: hover) {
  .button__order-calculation:hover {
    background-color: var(--color-violet-hover);
  }
}
@media (hover: none) {
  .button__order-calculation:active {
    background-color: var(--color-violet-hover);
  }
}
.button_small {
  padding: 12px 23px 13px 47px;
}
@media (max-width: 480px) {
  .button_small {
    font-size: 13px;
    padding: 15px 15px;
    background-image: none;
  }
}

.mobile-overlay {
  height: 100vh;
  width: 100vw;
}
.mobile-overlay:modal {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-overlay__close {
  display: block;
  width: 50px;
  aspect-ratio: 1;
  position: absolute;
  top: 42px;
  right: 15px;
}
.mobile-overlay__close::after {
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: rotate(45deg);
}
.mobile-overlay__close::before {
  content: "";
  display: block;
  width: 2px;
  height: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: rotate(-45deg);
}
@media (hover: hover) {
  .mobile-overlay__close:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .mobile-overlay__close:active {
    background-color: var(--color-accent);
  }
}
.mobile-overlay__nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 15px;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
}
@media (hover: hover) {
  .mobile-overlay__nav-link:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .mobile-overlay__nav-link:active {
    background-color: var(--color-accent);
  }
}

.order-form {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .order-form {
    width: 380px;
  }
}
@media (max-width: 480px) {
  .order-form {
    width: 340px;
    padding: 0px !important;
  }
}
.order-form_small {
  width: 406px;
  height: 428px;
  position: relative;
}
.order-form_measuring {
  background-color: var(--color-accent);
}
.order-form_calculation {
  background-color: var(--color-violet);
}
.order-form__title {
  color: white;
  display: block;
  padding-left: 72px;
  background-image: url("../media/icons/order-measuring-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 10px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .order-form__title {
    width: 300px;
    padding-left: 0px;
    background: none;
    text-align: center;
  }
}
.order-form__form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 21px;
  width: 74.5%;
  -moz-column-gap: 13px;
       column-gap: 13px;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .order-form__form {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .order-form__form {
    width: 200px;
  }
}
.order-form__input {
  background-color: white;
  height: 52px;
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 15px;
  color: black;
  font-size: 16px;
}
.order-form__input_checkbox {
  width: 25px;
  aspect-ratio: 1;
}
.order-form__input::-moz-placeholder {
  color: var(--color-violet);
}
.order-form__input::placeholder {
  color: var(--color-violet);
}
.order-form label {
  display: inline;
}
.order-form__send {
  background-color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px 60px;
  margin: 0 auto;
}
.order-form__send_accent {
  color: var(--color-accent);
}
@media (hover: hover) {
  .order-form__send_accent:hover {
    color: var(--color-violet);
  }
}
@media (hover: none) {
  .order-form__send_accent:active {
    color: var(--color-violet);
  }
}
.order-form__send_violet {
  color: var(--color-violet);
}
@media (hover: hover) {
  .order-form__send_violet:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .order-form__send_violet:active {
    color: var(--color-accent);
  }
}
@media (max-width: 768px) {
  .order-form__send {
    padding: 17px 40px;
  }
}
@media (max-width: 480px) {
  .order-form__send {
    padding: 17px 20px;
  }
}
.order-form__decoration {
  position: absolute;
  width: 149%;
  max-width: none;
  bottom: -56px;
  left: -86px;
}
@media (max-width: 1024px) {
  .order-form__decoration {
    display: none;
  }
}
.order-form__checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.order-form_white {
  color: black;
  background-color: white;
}
.order-form_white input {
  background-color: #E2E2E2;
  height: 40px;
}
.order-form_white .colored-text {
  color: #4B67AF;
}
.order-form_white button {
  background-color: var(--color-accent);
  color: white;
  padding: 19px 40px;
}
.order-form_white .order-form__title {
  background: none;
  padding: 0px;
  color: var(--color-violet);
  font-size: 18px;
}
.order-form_white .order-form__form {
  row-gap: 15px;
}

.personal-info-link_violet {
  color: var(--color-violet);
}

.personal-info-link_accent {
  color: var(--color-accent);
}

.hero {
  background-image: linear-gradient(to right, rgba(21, 21, 43, 0.9) 100%, rgba(51, 51, 73, 0.9) 100%), url("../media/images/hero-background.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 14px;
}
.hero__inner {
  padding: 63px 83px;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 36px;
  padding-block: 15px;
}
.hero__title .text-accent {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.hero__advantages-list {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.hero__advantages-item {
  display: flex;
  min-height: 140px;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.hero__advantages-image {
  max-height: 80px;
  max-width: 90px;
}
.hero__advantages-description {
  max-width: 176px;
}/*# sourceMappingURL=styles.css.map */