.about{
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__title{
            margin-bottom: 35px;
        }
        &__sections {
                margin-bottom: 30px;
        
                &-list {
                    display: flex;
                    column-gap: 10px;
        
                    .active {
                        background-color: var(--color-accent);
                        font-weight: 700;
                        color: white;
                    }
        
                    @media (max-width: 550px) {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: 1fr 1fr;
                        text-align: center;
                    }
                }
        
                &-item {
                    display: block;
                    padding: 10px 25px;
                    border-radius: 3px;
                    cursor: pointer;
        
                    @include hover {
                        background-color: var(--color-accent);
                        color: white;
                    }
                }
            }

        &__section{
            background: white;
            margin-bottom: 70px;
        }

        &__section.active{
        @keyframes swiperShow {
                from {
                    opacity: 0;
                    transform: scale(30%);
                }
        
                to {
                    opacity: 1;
                    transform: scale(100%);
                }
            }
        
                animation: 1s swiperShow ease;
        }

        .inactive {
            display: none;
        }

        &__description{

            display: flex;

            @include mobile{
                flex-direction: column;
                row-gap: 30px;
                align-items: center;
            }

            &-video{
                width: 50%;

                @include mobile{
                    width: 100%;
                }
            }

            &-body{
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 50px;
                row-gap: 50px;

                img{
                    height: 140px;
                    width: 200px;
                }

                p{
                    grid-row-start: 2;
                    grid-column-start: 2;
                    line-height: 22px;
                }

                @include tablet{
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    padding: 15px;
                    align-items: center;
                }
            }
        }

        &__advantages{
            
            &-list{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 100px;
                column-gap: 100px;
                padding-inline: 40px;
                margin-bottom: 80px;

                @include tablet{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    column-gap: 30px;
                    row-gap: 30px;
                }
            }

            &-item{
                display: flex;
                gap: 20px;

                @include tablet {
                        width: 350px;
                    }

                @include mobile-S{
                    width: 300px;
                }

                &-img{
                    width: 80px;
                    height: 78px;
                    flex-shrink: 0;
                }

                &-title{
                    text-transform: uppercase;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }


        }
}