.hero{
    background-image: linear-gradient(to right, rgba(21, 21, 43, 0.9) 100%, rgba(21, 21, 43, 0.9) 100%), url('../media/images/hero-background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    font-size: 14px;
    padding-top: 100px;

    @media (max-width:1200px){
        padding-top: 175px;
    };

    @include mobile{
        background: #333349;
        padding-top: 148px;
    }

    &__inner{
        padding: 63px 83px;
        display: flex;
        column-gap: 30px;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            padding: 15px 30px;
        }

        @include mobile{
            flex-direction: column;
            row-gap: 40px;
        }
    }

    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 36px;
        padding-block: 15px;
        color: white;

        .text-accent{
            font-size: 24px;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
    }

    &__advantages{

        &-list{
        display: flex;
        column-gap: 33px;

        @include mobile-S{
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 30px;
        }
        }

        &-item{
            display: flex;
            
            flex-direction: column;
            align-items: start;
            row-gap: 25px;
        }
        &-image{
            height: 80px;
            width: 90px;
        }

        &-description{
            max-width: 176px;
        }
    }


}